.banner-center {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 69px;
  padding-top: 5%;
  padding-bottom: 3%;
  text-align: center;
}
.login-left {
  padding-top: 5%;
  padding-left: 5%;
  float: left;
}
.create-right {
  padding-top: 5%;
  padding-right: 3%;
  float: right;
}
.form-center {
  text-align: center;
}
.button {
  background-color: Transparent; /* Blue */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button2 {
  background-color: Transparent;
  color: #00b1ff;
  border: 2px solid #00b1ff;
  border-radius: 8px;
}
.button2:hover {
  background-color: #0f6083;
  color: rgb(165, 177, 189);
}
.button-red {
  background-color: Transparent; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-red2 {
  background-color: Transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 8px;
}
.button-red2:hover {
  background-color: #ff0000;
  color: white;
}
