<div class="login-left">
  <button class="button button2" (click)="showLogin()">LOGIN</button>
</div>
<div class="create-right">
  <button class="button button2" (click)="showCreate()">CREATE ACCOUNT</button>
</div>
<div class="banner-center">
  SW~ETSY
</div>
<app-scroll *ngIf="!showCreateForm && !showLoginForm"></app-scroll>
<!-- Login Form -->
<br>
<div class="form-center">
  <form *ngIf="showLoginForm">
      <div><input type="text" name="username" placeholder="Username" [(ngModel)]="username"/></div>
      <div><input type="password" name="password" placeholder="Password" [(ngModel)]="password"/></div>
      <br>
      <button type="submit" class="button button2" (click)="login(username,password)">Login</button>
      <button type="submit" class="button-red button-red2" (click)="hideLogin()">Back</button>
    </form>
</div>
<!-- Create Form -->
<br>
<div class="form-center">
  <form *ngIf="showCreateForm" >
      <div>Create Username: <input type="text" name="username" placeholder="Username" [(ngModel)]="user.username"/></div>
      <div>Create Password: <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"/></div>
      <br>
      <button type="submit" class="button button2" (click)="createUser(user)">Create</button>
      <button type="submit" class="button-red button-red2" (click)="hideCreate()">Back</button>
  </form>
  <!-- Just testing the not found page -->
</div>

