<div class="login-left">
  <button class="btn btn-large" (click)="showLogin()">LOGIN</button>
</div>
<div class="create-right">
  <button class="btn btn-large" (click)="showCreate()">CREATE ACCOUNT</button>
</div>
<div class="banner-center">
<h1>THE KESSEL RUN</h1>
</div>
<app-scroll *ngIf="!showCreateForm && !showLoginForm"></app-scroll>
<!-- Login Form -->
<br>
<div class="form-center">
  <form *ngIf="showLoginForm">
      <div><input type="text" name="username" placeholder="Username"/></div>
      <div><input type="password" name="password" placeholder="Password"/></div>
      <br>
      <button type="submit" class="btn btn-large btn-primary" (click)="login(username,password)">Login</button>
      <button type="submit" class="btn btn-large btn-danger" (click)="hideLogin()">Back</button>
  </form>
</div>

<!-- Create Form -->
<br>
<div class="form-center">
  <form *ngIf="showCreateForm">
      <div>Create Username: <input type="text" name="username" placeholder="Username" /></div>
      <div>Create Password: <input type="password" name="password" placeholder="Password" /></div>
      <br>
      <button type="submit" class="btn btn-large btn-primary">Create</button>
      <button type="submit" class="btn btn-large btn-danger" (click)="hideCreate()">Back</button>
  </form>
</div>
