/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);

/*
** ALL CREDIT GOES TO
** Craig Buckler
** http://www.sitepoint.com/css3-starwars-scrolling-text/
**
** Blame me for the music via embedded video bit
*/


* { padding: 0; margin: 0; }

body, html
{
  width: 100%;
  height: 100%;
  font-family: "Droid Sans", arial, verdana, sans-serif;
	font-weight: 700;
	color: rgb(212, 189, 54);
	background-image: url("spacebackground.jpg");
  overflow: scroll;
}

.notFoundImage {
  background-image: url("Old-Obi-Wan-icon.png");
}

.itemImage {
  z-index: 10;
  background-color: blanchedalmond;
  width: 30%;
  height: 30%;
}

