@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.bottom-left-pane {
  width: 25%;
  float: left;
  padding: 15px;
  padding-top: 30%;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  position: fixed;

}
.left-pane {
  width: 25%;
  height: 50%;
  float: left;
  padding: 15px;
  border: 1px solid #00b1ff;
  text-align: center;
  position: fixed;
  z-index: 10;
  background-color: #000000;
}
.main-portion {
  width: 75%;
  float: right;
  padding: 15px;
}
.center-pic {
  float: center;
}

.cartTable {
  color: #00b1ff;
  padding: 15px;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  width: 100%;
}

.inventory {
  padding-top: 5%;
}
.cartTD {
  padding: 15px;
}

.cartHeader {
  padding: 15px;
  font-size: 7mm;
  text-decoration: underline;
  font-weight: bold;
}
/* css for products display */
.snip1418 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  /* min-width: 230px;
  max-width: 315px; */
  width: 300px;
  height: 300px;
  background: transparent;
  text-align: center;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 20em;
  perspective: 20em;
}
.snip1418 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.snip1418 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.snip1418 .add-to-cart {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0;
  background-color: #409ad5;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.snip1418 .add-to-cart i {
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #164666;
  color: #ffffff;
  font-size: 1.4em;
}
.snip1418 figcaption {
  padding: 20px;
}
.snip1418 h3,
.snip1418 p {
  margin: 0;
}
.snip1418 h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.snip1418 p {
  font-size: 0.9em;
  letter-spacing: 1px;
  font-weight: 400;
}
.snip1418 .price {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 48px;
  letter-spacing: 1px;
}
.snip1418 .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}
.snip1418 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1418:hover .add-to-cart,
.snip1418.hover .add-to-cart {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.snip1418:hover .add-to-cart i,
.snip1418.hover .add-to-cart i {
  background-color: #2980b9;
}
/* Demo purposes only */
body {
  background-color: #212121;
}
.centered-title {
  text-align: center;
}
.button {
  background-color: Transparent; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.button2 {
  align-items: center;
  background-color: Transparent;
  color: #00b1ff;
  border: 2px solid #00b1ff;
  border-radius: 8px;
  width: 100%;
}
.button-red {
  background-color: Transparent; /* Red */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.button-red2 {
  background-color: Transparent;
  color: #ff0000;
  border: 2px solid #ff0000;
  border-radius: 8px;
  width: 100%;
}
.removeButton {

}
.button-red2:hover {
  background-color: #ff0000;
  color: white;
}
.button2:hover {
  background-color: #00b1ff;
  color: white;
}
.cartTitle {
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  margin-left: 9%;
  background-color: #000000;

}
.profile-centered {
  padding-top: 5%;
  text-align: center;
  height: 800px;
}
.f-wide {
  width: auto;
  color: white;
}
