<div class="left-pane">
  <button type="submit" class="btn btn-large btn-primary" (click)="showUpdate()">Update User Profile</button><br>
  <button type="submit" class="btn btn-large btn-primary" (click)="showProfile()">Go To Profile</button><br>
  <button type="submit" class="btn btn-large btn-primary" (click)="showAllItemsList()">View All Items in Marketplace</button><br>
  <button type="submit" class="btn btn-large btn-primary" (click)="showAllUserItems()">View All Items in Inventory</button><br>
  I am the menu side bar I will house all of the buttons
  <button type="submit" class="btn btn-large btn-danger" (click)="logout()">Logout</button>
</div>
<div class="main-portion">
  <!-- Main Profile Display -->
  <div *ngIf="!showUpdateForm && !showAllItems">
    <div class="center-pic">
      <img class="itemImage" src="{{user.imageUrl}}" alt="profile pic"/>
      <h3>Name: {{user.username}}</h3>
      <h3>Species: {{user.species}}</h3>
      <h3>Credits: {{user.credits}}</h3>
    </div>
  </div>
  <!-- End of Main Profile Display -->
  <!-- Update Form -->
  <div *ngIf="showUpdateForm && !showAllItems">
    <form>
      <div>Update Image URL: <input type="text" name="imageUrl" placeholder="{{user.imageUrl}}" [(ngModel)]="updatedUser.imageUrl"/></div>
      <div>Update Species: <input type="text" name="species" placeholder="{{user.species}}" [(ngModel)]="updatedUser.species"/></div>
      <br>
      <button type="submit" class="btn btn-large btn-primary" (click)="updateUser()">Update</button>
      <button type="submit" class="btn btn-large btn-danger" (click)="hideUpdate()">Back</button>
      <br><br>
      <button type="submit" class="btn btn-large btn-danger" (click)="deleteUser()">Delete User</button>
      </form>
    </div>
    <!-- End of Update Form -->





<!-- DISPLAYS ALL ITEMS IN THE USERS INVENTORY -->
<div *ngIf="showUserItems && !showAllItems">
  <h1 class="centered-title">Marketplace Items</h1>
  <!-- added form for create div -->
  <form *ngIf="!newItem">
    <input type="submit" class="btn btn-large btn-primary" value="Add Item" (click)="setUpCreateDiv()" >
  </form>
  <!-- end create div -->

  <!-- added ng if -->
  <div  *ngIf='!newItem'>
    <div *ngFor='let item of items' class="snip1418">
      <img class="itemImage" src="{{item.imageUrl}}"/>
      <div class="add-to-cart">
        <i class="ion-android-add"></i><span>Add to Cart</span>
      </div>
      <div>
        <h3>{{item.name}}</h3>
        <p>{{item.description}}</p>
        <div class="price">
          <s>{{item.price * 2}}</s>
          <p>{{item.price}}</p>
          <p>{{item.category.name}}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- create new item div -->
  <div *ngIf= 'newItem'>
    <form>
      <div><input type="text" name="name" placeholder="Item Name" [(ngModel)]="newItem.name"></div>
      <div><input type="text" name="description" placeholder="Item Description" [(ngModel)]="newItem.description"></div>
      <div><input type="text" name="imageUrl" placeholder="Item Image URL" [(ngModel)]="newItem.imageUrl"></div>
      <div><input type="number" name="price" placeholder="Item Price" [(ngModel)]="newItem.price"></div>
      <div>
        <select  name="category" [(ngModel)]="newItem.category">
          <option value="{{1}}">Weapon</option>
          <option value="{{2}}">Decoration</option>
          <option value="{{3}}">Tool</option>
          <option value="{{4}}">Food</option>
          <option value="{{5}}">Ship</option>
          <option value="{{6}}">Miscellaneous</option>
        </select>
      </div>
      <input type="submit"  class="btn btn-large btn-primary" value="Submit" (click)="getCategoryThenAdd(newItem.category)" >
      <button type="submit" class="btn btn-large btn-danger" (click)="hideAdd()">Back</button>
    </form>
  </div>
  <!-- end new item div -->
</div>
<!-- end of the display of items -->





<!-- DISPLAYS ALL ITEMS IN THE MARKETPLACE -->
<div *ngIf="!showUpdateForm && showAllItems">
  <app-item-list></app-item-list>
</div>
<!-- end of the display of items -->
</div>
