<div class="left-pane">
  I am the menu side bar I will house all of the buttons
</div>
<div class="main-portion">
    <form>
        <div>Update Username: <input type="text" name="username" placeholder="Username" [(ngModel)]="user.username"/></div>
        <div>Update Password: <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"/></div>
        <div>Update Image URL: <input type="text" name="image_url" placeholder="user.image_url" [(ngModel)]="user.image_url"/></div>
        <div>Update Species: <input type="text" name="species" placeholder="user.species" [(ngModel)]="user.species"/></div>
        <br>
        <button type="submit" class="btn btn-large btn-primary" (click)="updateUser(user)">Update</button>
    </form>
</div>
