<div class="left-pane">
  I am the menu side bar I will house all of the buttons
</div>
<div class="main-portion">
    <form>
        <div>Update Username: <input type="text" name="username" placeholder="Username" [(ngModel)]="user.username"/></div>
        <div>Update Password: <input type="password" name="password" placeholder="Password" [(ngModel)]="user.password"/></div>
        <br>
        <button type="submit" class="btn btn-large btn-primary" (click)="updateUser(user)">Update</button>
    </form>
    <!-- this portion can be put into a forEach and displayed as a list -->

    <figure class="snip1418"><img src="https://cdn.shopify.com/s/files/1/1440/9434/products/DSC_0042_e2e79b7e-c016-4741-815f-a696d8d41f79_grande.JPG?v=1518664734" alt="sample85"/>
      <div class="add-to-cart"> <i class="ion-android-add"></i><span>Add to Cart</span></div>
      <figcaption>
        <h3>Jedi LightSaber</h3>
        <p>This elegant weapon glows blue.</p>
        <div class="price">
          <s>$25000.00</s>$10000.00
        </div>
      </figcaption><a href="#"></a>
    </figure>
    <figure class="snip1418"><img src="https://ae01.alicdn.com/kf/HTB1oH9xNVXXXXXaXFXXq6xXFXXXg/1Piece-Double-End-Tubular-Angled-Socket-Wrench-14-24mm-L-shaped-CR-V-Hex-Socket-Spanner.jpg_640x640.jpg" alt="sample96"/>
      <div class="add-to-cart"> <i class="ion-android-add"></i><span>Add to Cart</span></div>
      <figcaption>
        <h3>Socket Wrench</h3>
        <p>Helpful in loosening ion engine hoods. </p>
        <div class="price">
          <s>$1000.00</s>$750.00
        </div>
      </figcaption><a href="#"></a>
    </figure>
    <figure class="snip1418"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPRQVOGbFEyMLBwC6vmiWT8gZYCgvvIEPRZ5gjjO2YGlMtnFQCIQ" alt="sample92"/>
      <div class="add-to-cart"> <i class="ion-android-add"></i><span>Add to Cart</span></div>
      <figcaption>
        <h3>Jedi Robe</h3>
        <p>Relic of the now lost and forgotten Jedi Order. </p>
        <div class="price">
          <s>$8600.00</s>$6000.00
        </div>
      </figcaption><a href="#"></a>
    </figure>
    <!-- end of the sidplay of items -->
</div>
