<h1 class="centered-title">Marketplace Items</h1>
<!-- added form for create div -->
<form>
  <input type="submit" value="Add Item" (click)="setUpCreateDiv()" >
</form>
<!-- end create div -->

<!-- added ng if -->
<div *ngIf='!newItem' *ngFor='let item of items' class="snip1418">
  <img class="itemImage" src="{{item.imageUrl}}"/>
  <div class="add-to-cart">
    <i class="ion-android-add"></i><span>Add to Cart</span>
  </div>

  <div>
    <h3>{{item.name}}</h3>
    <p>{{item.description}}</p>
    <div class="price">
      <s>{{item.price * 2}}</s>
      <p>{{item.price}}</p>
      <p>{{item.category.name}}</p>
    </div>
  </div>
</div>
<!-- create new item div -->
<div *ngIf= 'newItem'>
  <form>
    <input type="text" name="name" [(ngModel)]="newItem.name">
    <input type="text" name="description" [(ngModel)]="newItem.description">
    <input type="text" name="imageUrl" [(ngModel)]="newItem.imageUrl">
    <input type="number" name="price" [(ngModel)]="newItem.price">
    <select  name="category" [(ngModel)]="newItem.category.name">
      <option value="Weapon">Weapon</option>
      <option value="Decoration">Decoration</option>
      <option value="Tool">Tool</option>
      <option value="Food">Food</option>
      <option value="Ship">Ship</option>
      <option value="Miscellaneous">Miscellaneous</option>
    </select>
    <input type="submit" value="Submit" (click)="addItem()" >
  </form>
</div>
<!-- end new item div -->
