<!-- ALL CREDIT FOR THE SCROLLING TEXT GOES TO
     Craig Buckler
     http://www.sitepoint.com/css3-starwars-scrolling-text/
-->

<p id="start">A short time ago in a Skill Distillery Cohort very, very nearby&hellip;</p>

<h1>STAR WARS<sub>The Kessel Run</sub><sub>A FullStack Web Application</sub></h1>

<div id="titles">
  <div id="titlecontent">

    <p class="center">Episode X<br />
      The Final Frontier</p>

    <p>It is a period of big stacks and bigger ideas.</p>

    <p>This is a demonstration of Star Wars-style scrolling 3D titles in CSS3/HTML. It possibly has no practical purpose whatsoever but it looks great and you can impress your friends.</p>

    <p>Before movie-buffs start ranting, I realize Star Wars wasn't the first to use crawling 3D titles, but few of you will remember the Flash Gordon series or the 1936 adaption of HG Wells' "Things to Come".</p>

    <p>Also, by mentioning "Star Wars", everyone will understand what I mean. And I'll receive several thumbs up.</p>

    <p>The scrolling titles work well in Chrome, Safari and Firefox.  IE users receive a blank page. A shame, but fuck Internet Explorer.</p>

    <p>So how does it work? Well, it's fairly simple. We have an outer absolute DIV (#titles) which is rotated along the X-axis And I stole it. =D =D</p>

    <p>Inside, we have another absolutely-positioned DIV which contains the text (#titlecontent). Which is also stolen. =D</p>

    <p>You will probably need to adjust the movement amount and timing depending on the quantity of I STOLE IT =D</p>
    <p>text you want to show. The 3D depth can also be tweaked in the #titles declaration.</p>

    <p>All the code is contained in this single HTML file&hellip;</p>

    <p class="center">View the source, Luke!</p>

    <p>This should work!</p>

    <p>You're welcome to use this demonstration code in your own sites. Please link back to the original article at:</p>

    <p class="center"><a href="http://www.sitepoint.com/css3-starwars-scrolling-text/">sitepoint.com/<br />css3-starwars-scrolling-text/</a></p>

    <p>I'd love to see how you use and abuse it!</p>

    <p>Finally, Disney has ruined them. Stop fiddling with them!</p>
    </div>
</div>

