<!-- ALL CREDIT FOR THE SCROLLING TEXT GOES TO
     Craig Buckler
     http://www.sitepoint.com/css3-starwars-scrolling-text/
-->

<p id="start">A short time ago in a Skill Distillery Cohort very, very nearby&hellip;</p>

<h1>STAR WARS<sub>The Kessel Run</sub><sub>A FullStack Web Application</sub></h1>

<div id="titles">
  <div id="titlecontent">

    <p class="center">Episode X<br />
      The Final Frontier</p>

    <p>It is a period of big stacks and bigger ideas.</p>

    <p>Our group of unlikely heros are set to embark on a quest for glory, aiming to develop a full-stack application in a matter of days.</p>

    <p>Nate Trainor, Grace Carter, Juilian Goudy, Andrew Dufresne, and Sven Skoglund begin their story in a poorly lit basement.</p>

    <p>Surrounded by competing developers, teachers, and other distractions, they aim steadfastly towards building the most beautiful app in the Galaxy</p>

    <p>They are destined to encounter many foes, stacktraces, and merge conflicts. Will our heros conquer the challenges ahead of them? Will they find wisdom and friendship along the way? Or will they be overwhelmed by the code.</p>

    <p>The story begins...</p>


    </div>
</div>

